
<hr />
<div class="container-fluid">
    <div class="row">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Add Batch</h4>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 personal-info">
                        <div class="alert alert-info alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            <i class="fa fa-plus"></i>
                            Fill in all fields to add a batch.
                        </div>
                        <form class="form-horizontal" role="form" novalidate angular-validator name="addBatchForm" angular-validator-submit="AddBatch()">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <button type="button" ng-click="addNewNumber();" class="btn btn-primary">Add Number</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div ng-repeat="num in Numbers">
                                        <div class="form-inline">
                                            <label class="control-label"># {{num.id}}</label>
                                            <input class="form-control" name="batchNumbers" type="number" ng-model="num.number" required />
                                            <button class="btn btn-danger" ng-show="$last" ng-click="removeNumber()">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-4">
                                <input type="submit" class="btn btn-primary" value="Submit batch" />
                                <span></span>
                                <a class="btn btn-default" ng-href="#/batches/{{batch.ID}}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>